<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Opções Python</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            margin-top: 50px;
        }
        button {
            font-size: 20px;
            padding: 10px 20px;
            margin: 20px;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <h1>Opções Python</h1>
    <form action="/run-script1">
        <button type="submit">Convers.py</button>
    </form>
    <form action="/run-script2">
        <button type="submit">Adesivo</button>
    </form>
    
</body>
</html>
